<% if (theme.valine && post.comments) { %>
<div id="vcomments"></div>
<script>
  window.onload = function(){
      var valine = new Valine();
      valine.init({
        el: '#vcomments',
        appId: "<%= theme.v_appId %>",
        appKey: "<%= theme.v_appKey %>",
        master: '5c6349399eaa71523af5bd5e1aa5734c',   //博主邮箱md5
        tagMeta: ["博主","小伙伴","访客"],     //标识字段名
        friends:  ["261294d20e9e42234ae2fb2a7f1c46cd","29c4d17e7407432f87a422dcd736d2d2"],  //小伙伴邮箱Md5
        metaPlaceholder: {"nick":"昵称/QQ号","mail":"邮箱（完全保密）","link":"网址 (https)"},
        placeholder: "填写邮箱可以及时收到回复哦(●'◡'●)",
        avatar: 'wavatar',
        enableQQ: true,
        // visitor: true,
        path: window.location.pathname,
      })
  }
</script>
<% } %>