<div class="changeSkin-gear no-select">
    <div class="keys" id="setbtn"> 
        <span id="open-skinMenu">
            SCHEME TOOL | 主题工具 &nbsp;
            <i class="iconfont icon-gear inline-block rotating">
            </i>
        </span>
    </div>
</div>