<div class="changeSkin-gear no-select"> 
    <div class="keys" id="setbtn"> 
        <span id="open-skinMenu"> 
            <style>
                span#open-skinMenu{
                    position:fixed;
                    bottom:13px;
                    left:20px;
                    color:HotPink;
                }
            </style>
            SCHEME TOOL | 主题工具 &nbsp;
            <i class="iconfont icon-gear inline-block rotating">
            </i> 
        </span>
    </div> 
</div>